body {
    background-color: rosybrown;
    /*    background-size: 300% 300%;*/
    /*    background-image: linear-gradient(45deg,black 0%,rgb(158, 38, 94) 100%);*/
    /*    animation: bg-animation 7s infinite;*/
    /*}*/
}

.add-match {
    border: 2px solid #1a73e8;
    box-shadow: 0 0 10px #1a73e8;
}

